/* General styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Header styles */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Link styles */
.App-link {
  color: #124b6a;
}

/* Animation styles */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: spin 20s infinite linear;
  }
}

/* Keyframes for logo spin animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}